.container {
    background-color: grey;
    width: 60%;
    margin: 20%;
    padding: 10px 20px;
    margin-top: 50px;
    display: inline-block;
}
.float-box {
    background-color: orange;
    margin: 5px 0;
    width: 100%;
    float: left;
}
.float-box div {
    box-sizing: border-box;
    font-size: 60px;
    background-color: greenyellow;
    margin: 10px;
    padding: 40px 80px;
    text-align: center;
}